<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iLife&Colour</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Welcome to iLife&Colour</h1>

    <a href="/">Home</a>
    <a href="/contact">Contact</a>

    <p>The web site where you can save your instants and topics!</p>

  </body>
</html>
