<div class="wideRow">
    <label for="preg"  class="itemNarrow">Title:</label>
    <input type="text" class="itemWide" id="preg" name="title" value="<%= instant.title %>" placeholder="Title" autocomplete="off"/>
</div>


<div class="wideRow">
    <label for="resp"  class="itemNarrow">Description:</label>
    <input type="text" class="itemWide" id="resp" name="description" value="<%= instant.description %>" placeholder="Description" autocomplete="off"/>
</div>

<br/>
<a href="/instants" class="button">Cancel</a>

<input type="submit" value="Save">