<div class="wideRow">
    <label for="preg"  class="itemNarrow">Title:</label>
    <input type="text" class="itemWide" id="preg" name="title" value="<%= instant.title %>" placeholder="Title" autocomplete="off"/>
</div>


<div class="wideRow">
    <label for="resp"  class="itemNarrow">Description:</label>
    <input type="text" class="itemWide" id="resp" name="description" value="<%= instant.description %>" placeholder="Description" autocomplete="off"/>
</div>

<br/>

<label for="img">Attach file (Max size 2MB):</label>
<input type="file" id="img" name="image"/>

<br />

<% if (instant.id) { %>
    <label for="img">Keep the current attached file:</label>
    <input type="checkbox" name="keepAttachment" value="1" checked>
<% } %>

<br />

<a href="/goback" class="button">Cancel</a>

<input type="submit" value="Save">