
<div class="right">
    <small> (by <%= instant.author ? instant.author.displayName : "Anonymous" %>) </small>
</div>

<h1>
    Show Instant:
</h1>

<ul>
    <li>Title: <b><%= instant.title %></b></li>
    <li>Description: <b><%= instant.description %></b></li>
</ul>

<a href="/goback" class="button">Go back</a>